* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
  --gradient-blue: #190361;
  --gradient-purple: #bb00ff;
  --initial-position: 100%;
  --final-position: 0;
}
.hide {
  display: none;
}
body,
button {
  font-family: "DM Sans", sans-serif;
}
body {
  display: grid;
  place-items: center;
  height: 100vh;
  font-size: 1.6rem;
  background: linear-gradient(
    45deg,
    var(--gradient-blue),
    var(--gradient-purple)
  );
  background-size: 200% 200%;
  animation: movebg 10s ease-in-out infinite;
}
main {
  width: 42.8rem;
  background-color: white;
  padding: 4.8rem 6.4rem 6.4rem;
  text-align: center;
  border-radius: 0.5rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.8);
}
.screen {
  width: 30rem;
  text-align: center;
  margin: 0 auto;
}
h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
}
h1,
h2 {
  color: #34355b;
}
h2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 1.4rem 0 2rem;
}
button {
  all: unset;
  background-color: #ff9500;
  color: #fff;
  padding: 1.6rem;
  border-radius: 0.4rem;
  font-weight: 700;
  transition: all 0.3s ease-in;
}
button:hover {
  background-color: #ff7300;
}
.message {
  padding: 1rem;
  background-color: #e4edf1;
  margin-top: 1.7rem;
  box-shadow: 2px 2px 2px rgba(85, 85, 85, 0.5);
}
p {
  font-family: "Dancing Script", cursive;
  font-size: 2.4rem;
}
#closed-biscuit,
button {
  cursor: pointer;
}
#opened-biscuit {
  margin: 6rem auto;
}
@keyframes movebg {
  0% {
    background-position: 0 25%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 25%;
  }
}
